/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 60px;
  background-color: #525252;
}

.sidebar, .leaflet-map{
  height: 80vh;
}

.sidebar .icon {
  color: rgb(255,255,255);
  color: rgba(255,255,255,.5);
}
